@{
    ViewBag.Title = "Informacje o grze";
}

<h2>Informacje o grze</h2>


    <h4>Cel gry</h4>
<p>
    Celem gry jest stworzenie ścieżki pomiędzy startem a metą.
</p>


    <h4>Przebieg</h4>
<p>
    sadsadsadsa
</p>
