<div ng-app="app">
    <div ng-controller="gameController as gc">
        <div class="board-wrapper">
            <div class="board vcenter fadeIn">
                <ul class="board-row" data-ng-repeat="row in gc.board.Cells">
                    <li>
                        <ul class="board-row-cells-collection">
                            <li class="board-cell-wrapper" data-ng-repeat="cell in row">
                                <div class="board-cell">
                                    <div class="domino-tile">

                                    </div>
                                </div>
                            </li>
                        </ul="board-cell-collection">
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="board-inventory">
            <div data-ng-repeat="piece in gc.game.PlayerPieces" class="domino-piece inactive-tile">
                <div class="domino-tile upper-domino-tile">{{ piece.firstTile }}</div>
                <div class="domino-tile bottom-domino-tile">{{ piece.secondTile }}</div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="Ups, wystąpił błąd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ gc.error.Status }}</h4>
                    </div>
                    <div class="modal-body">
                        <h5>{{ gc.error.Message }}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/app")
}
