<div ng-app="app">
    <div class="flying-header"><h2>Wybierz klocek domino z przybornika z lewej strony</h2></div>
    <div ng-controller="gameController as gc">
        <div class="board-wrapper">
            <div class="board vcenter fadeIn">
                <ul class="board-row" data-ng-repeat="row in gc.board.Cells">
                    <li>
                        <ul class="board-row-cells-collection">
                            <li class="board-cell-wrapper" data-ng-repeat="cell in row">
                                <div class="board-cell"ng-click="gc.tryPutSelectedPiece(cell)">
                                    <div class="domino-tile first-domino-tile" ng-style="{'background-image':'url('+cell.DominoTile.ImageUrl+')'}"></div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="board-selected-piece-wrapper non-selectable bringToView" ng-class="{ hidden: gc.game.SelectedPiece == null }">
            <ul>
                <li>
                    <h1 class="rotateButton"><i class="fa fa-chevron-left" ng-click="gc.onSelectedPieceRotatedLeft()"></i></h1>
                </li>
                <li>
                    <div class="domino-piece selected-piece enlarge" ng-class="{ 'domino-piece-vertical': gc.game.SelectedPiece.orientation == 1, 'domino-piece-horizontal': gc.game.SelectedPiece.orientation == 0 }">
                        <div ng-attr="{{ gc.game.SelectedPiece.FirstTile.Category }}" class="domino-tile first-domino-tile" ng-style="{'background-image':'url('+gc.game.SelectedPiece.FirstTile.ImageUrl+')'}"></div>
                        <span class="domino-tile-separator"></span>
                        <div ng-attr="{{ gc.game.SelectedPiece.SecondTile.Category }}" class="domino-tile second-domino-tile" ng-style="{'background-image':'url('+gc.game.SelectedPiece.SecondTile.ImageUrl+')'}"></div>
                    </div>
                </li>
                <li>
                    <h1 class="rotateButton"><i class="fa fa-chevron-right" ng-click="gc.onSelectedPieceRotatedRight()"></i></h1>
                </li>
            </ul>
        </div>

        <div class="board-inventory">
            <div data-ng-repeat="piece in gc.game.PlayerPieces" ng-click="gc.onPieceSelected(piece)" class="domino-piece inactive-piece domino-piece-vertical">
                <div ng-attr="{{ piece.FirstTile.Category }}" class="domino-tile first-domino-tile" ng-style="{'background-image':'url('+piece.FirstTile.ImageUrl+')'}"></div>
                <span class="domino-tile-separator"></span>
                <div ng-attr="{{ piece.SecondTile.Category }}" class="domino-tile second-domino-tile" ng-style="{'background-image':'url('+piece.SecondTile.ImageUrl+')'}"></div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="Ups, wystąpił błąd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ gc.error.Status }}</h4>
                    </div>
                    <div class="modal-body">
                        <h5>{{ gc.error.Message }}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/app")
}
