@{
    ViewBag.Title = "Domino";
}
<div class="menu-wrapper">
    <div class="menu-container vcenter">
        <div class="row menu-toolbar">
            <div class="col-md-4">
                <a href="@Url.Action("Game", "Home", new { Size = 1 })">
                    <div class="menu-option menuItemLoaded">
                        <i class="fa fa-play fa-5x"></i>

                        <h2>Łatwy</h2>
                        <h5>Na żetonach domino pojawiają się obrazki z 1 kategorii</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Game", "Home", new { Size = 3 })">
                    <div class="menu-option menuItemLoaded">
                        <i class="fa fa-play fa-5x"></i>

                        <h2>Średni</h2>
                        <h5>Na żetonach domino pojawiają się obrazki z 3 kategorii</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Game", "Home", new { Size = 6 })">
                    <div class="menu-option menuItemLoaded">
                        <i class="fa fa-play fa-5x"></i>

                        <h2>Trudny</h2>
                        <h5>Na żetonach pojawiają się obrazki z 6 kategorii</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
