@{
    ViewBag.Title = "Domino";
}
<div class="menu-wrapper">
    <div class="menu-container vcenter">
        <div class="row menu-toolbar">
            <div class="col-md-4">
                <a href="@Url.Action("Settings", "Home")">
                    <div class="menu-option menuItemLoaded">
                        <i class="fa fa-cogs fa-5x"></i>
                        <h2>Ustawienia</h2>
                        <h5>Skonfiguruj grę</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Game", "Home")">
                    <div class="menu-option menuItemLoaded">
                        <i class="fa fa-play fa-5x"></i>

                        <h2>Nowa gra</h2>
                        <h5>Rozpocznij nową grę</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("About", "Home")">
                    <div class="menu-option menuItemLoaded">
                        <i class="fa fa-info fa-5x"></i>
                        <h2>O grze</h2>
                        <h5>Skorzystaj z pomocy</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
