@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app" background="green">
    <div ng-controller="shellController as sc">
        {{ sc.message }}
    </div>
</div>

@section scripts{ 
    @Scripts.Render("~/bundles/app")
}

<h2>@ViewBag.Text</h2>

@*<div class="row">
    <div class="col-md-4">*@
