.flying-header{
    position: absolute;
    right: 64px;
    top: 0;
    color: #fff;
}

.board-wrapper {
    position: absolute;
    padding: 64px;
    width: 100%;
    height: 100%;
}

.board {
    background: rgba(255, 255, 255, 0.5);
    clear: both;
    padding: 64px;
    font-size: 0;
}

.board-row{
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
    list-style: none;
    text-align: center;
}

.board-cell-wrapper{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.board-cell {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.5);
    width: 64px;
    max-width: 64px;
    min-width: 64px;
    height: 64px;
    max-height: 64px;
    min-height: 64px;
    position: relative;
}

.board-row-cells-collection {
    margin: 0;
    padding: 0;
}

.board-inventory {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #000;
    color: #000;
    max-width: 212px;
    padding: 16px;
    border-right: 1px solid #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.board-selected-piece-wrapper{
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 96px;
}

.board-selected-piece-wrapper ul li {
    display: inline-block;
    padding: 0;
}

.rotateButton {
    color: #fff;
    margin: 16px;
    padding: 64px;
    font-size: 6em;
    cursor: pointer;
}

.removeButton{
    color: #fff;
    cursor: pointer;
}

.used-cell{
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
}

.startImage{
    height: 64px;
    width: 64px;
    background-position: center;
}

.endImage{
    height: 64px;
    width: 64px;
    background-position: center;
}

.win-message{
    position: absolute;
    text-align: center;
    background: rgba(96, 255, 0, 0.75);
    width: 100%;
    height: 100%;
}

.win-message{
    font-weight: bold;
}

.win-message > div{
    background: #fff;
    padding: 64px;
}