.domino-piece{
    position: relative;
    background: #fff;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.domino-tile {
    position: absolute;
    height: 48px;
    width: 48px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.inactive-tile{
    background: rgba(255, 255, 255, 0.75);
}

.domino-piece-horizontal{
    width: 128px;
    height: 64px;
}

.domino-piece-vertical{
    width: 64px;
    height: 128px;
}

.board-inventory .domino-piece {
    float: left;
    border: 1px solid #fff;
    margin: 8px;
    position: relative;
    background: #fff;
    background-image: url('gfx/blackPoint.png');
    background-repeat: repeat-x;
    background-position: center;
}

.domino-piece-vertical .first-domino-tile{
    top: 4px;
    left: 8px;
}

.domino-piece-vertical .second-domino-tile{
    bottom: 4px;
    left: 8px;
}

.domino-piece-horizontal .first-domino-tile{
    left: 8px;
    top: 4px;
}

.domino-piece-horizontal .second-domino-tile{
    right: 8px;
    top: 4px;
}